@charset "UTF-8";

html{

    font-family: sans-serif;

}

.clearfix:after, .row:after{
    content: "";
    display: block;
    clear: both;


}

h1, h2, h3, h4, h5, h6{
    font-family: "Oxygen";
}

.top-header{
    text-align: center;
}

.top-header-logo{
    margin: .5em;
}

.top-nav{

    background: rgb(139, 24, 115);
    text-align: center;

}

.icon-play{
    height: 5em;
    display: none;
}
.icon-play img{
    max-width: 100%;
    max-height: 100%;
}


.top-nav ul{
    list-style: none;
    margin: none;
    padding: 1em 0;
    
}

.top-nav a:hover{
    background: rgb(172, 82, 164);
}

.top-nav a{
    color: white;
    text-decoration: none;
    display: block;
    padding: 1em;
}


.top-content{
    text-align: center;
    padding: 1em;
    background: #f6f6f6;
}
.top-content-title{
    color: rgb(139, 24, 115);
 


}

.top-content-subtitle{
    color: rgb(172, 82, 164);
    font-size: 1em;
    line-height: 1.5em;
    
}



.button{

    background: rgb(79, 175, 212);
    display: inline-block;
    padding: 1em 3em;
    border-radius: .5em;
    color: white;
    text-decoration: none;
    transition: all .5s;
    
    
    
    

}

.middle-content{
    text-align: center;
    padding: 2em;
    background: #f6f6f6;
}

.middle-content-title{
    font-size: 1.25em;
    color: #652e78;
    text-transform: uppercase;
}

.button:hover{
    background: #37a0a0;
    
}

.middle-content p{
    line-height: 1.5;
    color: #222;
}

.middle-content span{
    font-size: 3em;
    color: #652e78;
}

.main-content{
    padding: 2em;
}

.main-content p{
    line-height: 1.2;
}
.main-content-article{

    margin-bottom: 3.5em;

}

.main-content-title{

    font-size: 1.25em;
    color: #652e78;
    text-transform: uppercase;
    letter-spacing: .2em;
    font-weight: normal;
}

footer{
    text-align: center;
    
    


}

.footer-icons{
    background: rgb(71, 71, 71);
    padding: 1em;
    margin-bottom: 0;
    margin: 0;
}

.footer-icons li{
    list-style: none;
    display: inline-block;
    font-size: 1.3em;
    letter-spacing: 1.6em;
    
    
  


}

.footer-icons ul{
    text-align: center;
}

.footer-icons a{

    text-decoration: none;
    
    
}

.footer-icons span{
    color: #222;
    transition: color .5s;

}

.footer-icons span:hover{
    color: rgb(253, 251, 251);
    
}

footer p{

    background: #222;
    padding-top: 1.5em;
    margin: 0;
    color: rgb(156, 154, 154);
}

footer p:last-child{
    padding-bottom: 1.5em;
}

footer p:last-child{
    padding-bottom: 1.5em;
}

@media screen and (min-width: 48.75em) {
    .top-header-logo{
        float: left;
    }

    .icon-play{
        height: 5em;
        display: block;
    }

    .top-nav{
        background: transparent;
        float: right;
        margin-top: 29px;
    }

    .top-nav ul{
        margin: 0;
        padding: 0;
    }

    .top-nav a{
        color: black;
    }

    .top-nav a:hover{
        background: #e7d9fc;
    }

    .top-nav li{
        display: inline-block;
    }



    .top-content{
        background: #521a66;
        color: white;
    }

    .top-content-title, .top-content-subtitle{
        
        color: white;
    }

    .col-1-4{
        width: 44%;
        margin: 3%;
        float: left;
    }

    .main-content-article .button{
        float: right;
    }
    
}

@media screen and (min-width: 62.5em) {


    .top-content{
      
        background:#521a66 url(../images/bg_topo_1198x670.jpg);
        height: 20em;
        padding-top: 17em;
        background-position: center bottom;
       

}

@media screen and (min-width: 74em) {

.icon-play{
    height: 7em;
}
    .top-content{
      
        background:#521a66 url(../images/bg_topo_1600x1374.jpg);
        padding-top: 19em 20em 10em;
        background-position: center top;
        

}

.col-1-4{
    width: 23%;
    margin: 1%;

}

.col-1-2{
    width: 23%;
    margin: 1%;
    float: left;

}

}

}







